ul li a {
	font-size: 35px;
}

a[href$=".ru"]{
	color: #f70;
}

a[href*="google.com"]{
	color: #666;
}
a[target="_blank"]:after{
	content: " \21F1";
	position: absolute;
	padding-right: 20px;
	margin-top: 15px;
	transform: rotate(-270deg);
}