h1, p:first-letter{
	font-size: 30px;
}
p:first-letter,
.vegetables-list{
	color: red;	
}
h1{
	text-align: right;
}
em,
tbody tr td:nth-last-child(-n+3){
	color: white;
	background-color: green;	
}
p:first-letter, em{
	font-weight: bold;
}
h1,
tbody tr td:nth-child(1),
#allotment h2{
	color: orange;
}
#allotment .fruits-list{
	color: grey;
}
#warehouse h2{
	color: blue;
}
#warehouse .fruits-list{
	color: green;
}
time,
.plants-list ul,
.students-table thead,
tbody tr td:nth-last-child(-n+3){
	font-weight: bold;
}
.students-table thead,
tbody tr td:nth-last-child(-n+3){
	text-align: center;
}
