body{
	margin: 0;
	padding: 0;
}
.sivtsev {
	width: 300px;
	margin: 40px auto;
	font-family: Arial, sans-serif;
	line-height: 80%;
	text-align: justify;
	color: rgba(0,0,0,0);
	text-shadow: 0 0 4px #555;
}
p:after {
	content: ''; 
	display: inline-block; 
	width: 300px;
}
.sight01 {font-size: 70px;}
.sight02 {font-size: 65px;}
.sight03 {font-size: 60px;}
.sight04 {font-size: 55px;}
.sight05 {font-size: 50px;}
.sight06 {font-size: 40px;}
.sight07 {font-size: 35px;}
.sight08 {font-size: 25px;}
.sight09 {font-size: 20px;}
.sight10 {font-size: 15px;}
.sight15 {font-size: 10px;}
.sight20 {font-size: 8px;}

.uline {border-bottom: 1px solid #fcc;}