*{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}

/* header */
.header {
	background-color: #dcdcdc;
}
.logo {
	display: inline-block;
	margin: 65px 0 60px;
}
.logo__image {
	width: 273px;
	height: 100px;
}
.contact {
	float: right;
	margin: 35px 0;
}
.contact__phone {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3.1em;
	color: #767676;
	line-height: 1.1;
}
.contact__feedback_link {
	display: inline-block;
	margin-top: 5px;
	position: relative;
	left: 90px;
	color: #767676;
	font-size: 1.8em;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px dashed #767676;
}
.contact__feedback_link:hover {
	border-bottom: none;
	color: #555;
}

/* popup */
.feedback__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	outline: none;
	cursor: default;
	background-color: rgba(0,0,0,0.4);
	z-index: 10;
}
.feedback__overlay:target {
	display: block;
}
.feedback__popup {
	position: fixed;
	top: -100%;
	right: 0;
	left: 50%;
	z-index: 11;
	width: 464px;
	height: 575px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-webkit-transform: translate(-50%, -500%);
	-ms-transform: translate(-50%, -500%);
	-o-transform: translate(-50%, -500%);
	transform: translate(-50%, -500%);
}
.feedback__overlay:target+.feedback__popup {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 20%;
}
.feedback-form {
	margin: 35px;
	color: #767676;
}
.feedback-form__title {
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	padding-bottom: 15px;
	font-weight: bold;
}
.feedback-form__input_name {
	text-align: center;
	margin-top: 15px;
}
.feedback-form__input {
	display: block;
	box-sizing: border-box;
	padding: 8px 10px;
	width: 340px;
	margin: 0 auto;
}
.feedback-form__input:focus,
.feedback-form__textarea:focus {
    outline: none;
    border: 2px solid #8FBC8F;
    background: #F0F8FF;
    box-shadow: none;
}
.feedback-form__input_error {
	border: 2px solid #dc7f7f;
	box-shadow: inset 0px 0px 10px rgba(220,127,127,0.9);
}
.feedback-form__input_error::-webkit-input-placeholder {
	color: #dc7f7f;
	font-style: italic;
	font-weight: bold;
}
.feedback-form__textarea {
	display: block;
	margin: 0 auto;
	height: 140px;
	width: 340px;
	box-sizing: border-box;
	padding: 10px 10px;
}
.feedback-form__button_submit {
	background-color: #777777;
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	outline: none;
	padding: 10px 15px;
	display: block;
	width: 128px;
	margin: 0 auto;
	cursor: pointer;
}
.feedback-form__button_submit:hover {
	background-color: #555;
	text-shadow: 0 1px 1px #000;
}
.feedback__button_close {
	position: absolute;
	right: -30px;
	top: -30px;
	width: 30px;
	height: 30px;
	background-color: #767676;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: white;	
}
.feedback__button_close:hover {
	background-color: rgba(85, 85, 85, 1);
}
/* end popup */
/* end header */

/* menu */
.menu {
	background-color: #777777;
	color: white;
	padding: 22px 0 28px;
}
.nav {
	list-style-type: none;
}
.main-menu {
	text-align: center;
}
.main-menu .nav__item {
	display: inline-block;
	border-left: 3px solid white;
	padding: 0 18px;
	letter-spacing: -5px;
}
.main-menu .nav__item:first-child {
	border-left: none;
	padding-left: 0;
}
.main-menu .nav__item:last-child {
	padding-right: 0;
}
.nav__link {
	color: white;
	text-decoration: none;
	letter-spacing: normal;
}
.main-menu .nav__link {
	font-size: 2.2em;
}
.main-menu .nav__link_active,
.main-menu .nav__link:hover { 
	text-decoration: underline;
}
/* end menu */
/* section slider */
.slider__wrap {
	width: 1400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.image__holder{
    width: 2800px;
    height: 400px;
    position: relative;
    clear: both;   
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
	transition: left 2s;
}
.slider__image {
	float: left;
	position: relative;
    margin: 0;
    padding: 0;
}
#slider__image_1:target ~ .image__holder{
    left: 0px;
}
#slider__image_2:target ~ .image__holder{
    left: -1400px;
}
.button__holder {
	position: relative;
}
.button__change_prev,
.button__change_next {
	position: absolute;
	top: -245px;
	width: 34px;
	height: 60px;
	background-color: #d1d1d1;
	color: #000;
	font-size: 60px;
}
.button__change_prev {
	left: 0px;
}
.button__change_next {
	right: 25px;
}
.button__change_prev:hover,
.button__change_next:hover {
	box-shadow: 0 0 1px rgba(118,118,118,.5);
}
/* end section slider */

/* content */
.content__catalog_list {
	list-style-type: none;
}
.catalog__item {
	display: inline-block;
	padding: 5px 0;
}
.catalog__item:after {
	content: "/";
	margin: 5px;
}
.catalog__item:last-child:after {
	content: none;
}
.catalog__link {
	color: #767676;
	font-size: 1.1em;
}
.catalog__link_active {
	text-decoration: none;
}

.sidebar-left__product {
	display: inline-block;
	width: 195px;
	margin-top: 10px;
}
.poduct-list {
	list-style-type: none;
}
.product-list__item {
	padding-top: 8px;
}
.product-list__link {
	color: #767676;
	text-decoration: none;
	font-size: 1.3em;	
}
.product-list__link:hover {
	color: #010101;
}
.product-list__link:hover,
.product-list__link_active {
	text-decoration: underline;
}
.product-sublist {
	margin-left: 25px;
	list-style-type: disc;
}
.product-sublist__link {
	color: #767676;
	text-decoration: none;
	font-size: 1.05em;	
}
.product-sublist__link:hover,
.product-sublist__link_active {
	color: #010101;
	font-weight: bold;
	text-decoration: underline;
}
.sidebar-left__prices {
	margin-top: 105px;
	margin-bottom: 20px;
	position: relative;
	left: -10px;
}
.prices__icon {
	display: block;
	width: 97px;
	margin: 0 auto;
	-webkit-box-reflect: below 0 -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0) 15%);
}
.prices__link {
	margin-top: 20px;
	display: block;
	text-align: center;
	color: #767676;
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}
.prices__link:hover {
	color: #010101;
	text-decoration: underline;
}

.product {
	display: inline-block;
	width: 780px;
	vertical-align: top;
	margin-top: 20px;
	letter-spacing: -7px;
}
.product__box {
	display: inline-block;
	width: 250px;
	height: 380px;
	background-color: #dcdcdc;
	box-sizing: border-box;
	margin-right: 15px;
	margin-bottom: 20px;
	letter-spacing: normal;
}
.product__box:nth-child(3) {
	margin-right: 0;
}
.product__image {
	margin: 20px 20px 10px;
}
.product__description {
	padding: 0 20px;
	color: #767676;
	font-size: 1.3em;
	margin-bottom: 55px;
	line-height: 1;
}
.product__price {
	color: #444444;
	font-size: 2em;
	font-weight: bold;
	padding: 0 20px;
}
.product__icon {
	margin-left: 45px;
	position: relative;
	top: 5px;
}

.content-pager {
	text-align: center;
	margin: 0 10px 55px 200px;
	color: #767676;
}
.nav-pager {
	list-style-type: none;
}
.nav-pager__item {
	display: inline-block;
	margin: 5px;
}
.nav-pager__link {
	display: inline-block;
	font-size: 1em;
	color: #767676;
	text-decoration: none;
	width: 14px;
	height: 24px;
}
.nav-pager__link:hover,
.nav-pager__link_active {
	font-size: 1.5em;
	color: #010101;
}

.company-description {
	margin-left: 200px;
	margin-bottom: 215px;
	border-top: 2px solid #787878;
}
.compamy-description__article {
	margin-top: 25px;
}

.article__column_left,
.article__column_right {
	vertical-align: top;
	display: inline-block;
	width: 370px;
	line-height: 1.6;
	text-align: justify;
	word-break: break-all;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.article__column_left {
	margin-right: 35px;
}
/* end content */

/* footer */
.footer {
	background-color: #777777;
	height: 220px;
	color: white;
}
.footer__copy {
	float: left;
	margin-top: 45px;
}
.footer__menu{
	display: inline-block;
	padding-top: 45px;
	margin-left: 155px;
}
.footer__menu_list .nav__item {
	padding-bottom: 5px;
	text-decoration: underline;
}
.footer__menu_list .nav__link {
	font-size: 1.05em;
}
.footer__menu_list .nav__link:hover {
	font-weight: bold;
}
.footer__compamy {
	float: right;
	margin-top: 50px;
	color: white;
	width: 230px;
}
.footer__logo_size_s {
	display: inline-block;
}
.footer_company_name {
	display: inline-block;
	position: relative;
	top: -5px;
	margin-left: 5px;
}
.footer__compamy_text {
	font-size: 1.05em;
}
.footer__company_link {
	color: white;
}
.footer__company_link:hover {
	text-decoration: none;
}
/* end footer */