@import url('https://fonts.googleapis.com/css?family=Economica:700');

body{
	margin: 0;
	padding: 0;
}

div.top-nav{
	width: 900px;
	margin: auto;	
}

ul.main-menu{
	position: relative;
	text-align: center;	
	padding: 5px;
	background-color: #1aa4ff;
}
ul.main-menu li{
	display: inline-block;
}
ul.main-menu li a{
	font-family: 'Economica', sans-serif;
	font-weight: 700;
	text-decoration: none;
	padding: 10px;
}
ul.main-menu > li > a{
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
}


ul.sub-menu{
	display: none;
}

ul.main-menu li a:focus{
	outline: 0;
}

ul.main-menu li:hover a{
	padding: 5px 10px 6px;
	color: #999;
	background-color: #f2f2f2;
}

ul.main-menu > li:hover .sub-menu {
	display: inline-block;

	padding: 5px;
	height: 23px;
	background-color: #f2f2f2;
	color: #666;

	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
	bottom: 0;
}

ul.sub-menu li a:hover {
	color: #000;
}