@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
	margin: 0;
	padding: 0;
}

.container_pricing{
	height: 700px;
	font-family: 'Roboto', sans-serif; 
	text-transform: uppercase;
}
.price_header{
	margin: 0;
	padding: 60px;
	font-size: 1.8em;
	text-align: center;
	font-weight: 500;
}
.price_list{
	width: 840px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.price_list_active,
.price_list_left,
.price_list_right{
	position: relative;
	display: inline-block;
	width: 274px;
    text-align: center;
 	border-radius: 5px;
 	background-color: white;  
}
.price_list_active{
	border: 3px solid #EE822A; 
	box-shadow: 0 0 10px 5px #CBE2EF;
	z-index: 2;
}
.price_list_left,
.price_list_right{
	border: 1px solid #cccccc;
	z-index: 1;
}
.price_list_left{
	left: 10px;
}
.price_list_right{
	right: 10px;
}
.price_list_active h3,
.price_list_left h3,
.price_list_right h3{
	font-size: 1.3em;
	font-weight: 400;
	margin: 16px 0;
}
div.header h2{
	font-weight: 500;
	color: white;
}
.price_list_active div.header{
	padding: 5px 0;
	background-color: #EE822A;
}
.price_list_left div.header,
.price_list_right div.header{
	padding: 1px 0;
}
.price_list_left div.header{
	background-color: #33cccc;
}
.price_list_right div.header{
	background-color: #33cc99;
}
.price{
	color: #364A5B;
}
span.numeral{ 
	font-size: 4em;
	font-weight: 700;
 }
span.currency,
span.time{
	position: relative;	
	font-weight: 500;
}
span.currency{
	top: -40px;
	font-size: 1.2em;
}
span.time{
	top: 8px;
	left: -6px;
	text-transform: none;
}
ul{
	padding: 0;
	width: 88%;
	text-align: left;
    list-style-type: none;
    text-transform: none;
    color: #898D95;
    font-size: 0.9em;
    margin: auto;
}
ul li{
	margin-bottom: 1px; 
	padding: 7px 30px;
}
ul li:nth-of-type(odd){
	background: #EDF5FD ;
}
ul li:nth-of-type(even){
	background: #F5F5F6;
}
ul li::before{
    content: url("images/marker.png");
    padding-right: 15px;
}

input{
	width: 86%;
	padding: 10px;
	font-size: 0.8em;
    font-weight: bold;
	color: white;
    border: none;
    border-radius: 5px;
    outline: 0;
}
.price_list_active input{
	background: #EE822A;
	border-bottom: 3px solid #B3570D;
	margin: 20px auto 30px;
}
.price_list_left input,
.price_list_right input{
	background: #336699;
	border-bottom: 3px solid #003366;
	margin: 20px auto;
}

input:hover, input:focus{
	border-color: transparent;
	box-shadow: 1px 1px 9px 0 #C2C2C2;
}
.price_list_active input:hover, .price_list_active input:focus{ 
	color: #B3570D;
}
.price_list_left input:hover, .price_list_left input:focus,
.price_list_right input:hover, .price_list_right input:focus{ 
	color: #003366;
}