/* latin-ext */
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 700;
  src: local('Economica Bold'), local('Economica-Bold'), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9D0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 700;
  src: local('Economica Bold'), local('Economica-Bold'), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

div.main-menu{
	width: 900px;
	margin: auto;
	background-color: #A64DFF;
}
.top-nav{
	text-align: center;
	padding: 10px;
}
.top-nav li{
	display: inline-block;
}
.top-nav li a{
	font-family: 'Economica';
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	padding: 10px 15px;
}
.top-nav li a.active,
.top-nav li a:hover {
	color: #999;
	background-color: #F5F5F5;
	box-shadow: 0 0 9px 0 #C2C2C2;
}
