body {
	margin: 0;
	padding: 0;
	background-color: #F7F8FA;
}

.portfolio {
	-width: 1170px; /* если фиксированная ширина */
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.portfolio__header {
	font-family: 'Lato', sans-serif;
}
.portfolio__header_title {	
	font-size: 43px;
	color: #333366;
	font-weight: 400;
	margin: 45px 0 15px;
}
.portfolio__header_text {
	font-size: 16px;
	color: #999;
	margin-bottom: 65px;
}
.portfolio__images {
	font-size: 0;
	display: table; /* для Safari убираем пробелы */
	margin-bottom: 50px;
}
.portfolio__image_case {
	display: inline-block;
	margin: 15px;
	position: relative;
}
.portfolio__image_case_img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.portfolio__image_holder {
	background-color: rgba(51,153,255,.8); 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: none;
}
.portfolio__image_case:hover .portfolio__image_holder {
	display: block;
}
.portfolio__image_button {
	display: inline-block;
	position: relative;
    top: 45%;
}
.portfolio__image_button:first-child {
	 margin-right: 10px;
}
.portfolio__image_button:last-child {
	 margin-right: 0;
}
.portfolio__image_button_link {
	display: inline-block;
	border: 1px solid white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
}
.portfolio__image_button_link .fa {
	font-size: 16px;
	color: white;
}


/* Preview */
.portfolio__preview_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.9);
	display: none;
	outline: none;
	cursor: default;
	z-index: 10;
}
.portfolio__preview_overlay:target {
	display: block;
}
.portfolio__preview_popup {
	position: fixed;
	top: -100%;
	right: 0;
	left: 50%;
	z-index: 20;

	width: 100%;
	max-width: 1135px;
	min-width: 320px;
	padding: 1px;
	background-color: #999;
	box-shadow: 0 3px 15px rgba(0,0,0,0.6);

	-webkit-transform: translate(-50%, -500%);
	-ms-transform: translate(-50%, -500%);
	-o-transform: translate(-50%, -500%);
	transform: translate(-50%, -500%);

	-webkit-transition: -webkit-transform 0.6s ease-out;
	-moz-transition: -moz-transform 0.6s ease-out;
	-o-transition: -o-transform 0.6s ease-out;
	transition: transform 0.6s ease-out;
}
.portfolio__preview_overlay:target+.portfolio__preview_popup {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 20%;
}

.portfolio__preview_image_full {
	width: 100%;
}
.portfolio__preview_close {
	position: absolute;
	right: 20px;
	top: -20px;
	width: 40px;
	height: 40px;
	background: #FF4500;
	text-align: center;
	font-size: 11px;
	line-height: 40px;
	color: white;	
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	-webkit-transition: all ease .8s;
	-moz-transition: all ease .8s;
	-ms-transition: all ease .8s;
	-o-transition: all ease .8s;
	transition: all ease .8s;
}
.portfolio__preview_close:hover {
	background-color: rgba(255, 0, 0, 0.8);
}
