body, h1, h2, h3, div, ul{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body{
	-max-width: 1400px;
	margin: auto;
}
.header, .services, .pricing, .footer{
	background-color: #FFFAFA;
}

.container {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}

/* Header section */
.header__logo {
	float: left;
	margin: 40px 45px 0 0;
	font-size: 2.1em;
	letter-spacing: 0.1em;
	color: #EE822A;
	font-weight: 400;
}
.header__logo span {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #3271A9;
	font-weight: 700;
}
.menu {
	float: right;
	margin: 60px 0 35px;
}
.menu__item {
	display: inline-block;
	margin-left: 10px;
}
.menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #989898;
	padding: 0 15px;
}
.menu__link:hover {
	color: #3070a8;
	padding-bottom: 31px;
	border-bottom: 5px solid #3070a8;
}

/* Banner section */
.banner {
	clear: both;
	background-image: url(../img/banner__background.png);
	background-size: cover;
	color: white;
	text-align: center;
}
.banner__heading {
	font-size: 2em;
	padding-top: 150px;
	letter-spacing: 0.1em;
}
.banner__heading span {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 700;
}
.banner__text {
	font-size: 1.2em;
	line-height: 1.4em;
	font-style: italic;
	padding-bottom: 25px;
}
.banner__button {
	border: 2px solid white;
	padding: 15px 50px;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: transparent;
	margin-bottom: 110px;
}
.banner__button:hover {
	box-shadow: 1px 1px 9px 0 #C2C2C2;
}

/* Services section */
.services{
	text-align: center;
}
.services__heading {
	width: 100%;
	margin: auto;
	padding: 65px 0;
	text-align: center;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 500;
	color: #333;
}
.services__item {
	display: inline-block;
	width: 32%;
	padding: 5px;
	margin-bottom: 30px;
}
.services__item_link {
	text-decoration: none;
	color: #333;
}
.services__item_link:hover {
	color: #3271A9;
}
.services__item_img {
	margin-bottom: 20px;
}
.services__item_title {
	font-size: 1.8em;
	text-transform: uppercase;
	color: #3271A9;
	margin-bottom: 15px;
}
.services__item_text {
	line-height: 1.6em;
}

/* Middle section */
.middle-section {
	background-image: url(../img/middle-section__background.png);
	background-size: cover;
}
.middle-section__content {
	padding: 66px 0; 
}
.middle-section__heading {
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 500;
	color: #EE822A;
	line-height: 1.6em;
}
.middle-section__text {
	font-size: 1.2em;
	font-style: italic;
	color: white;
	margin: 15px 0 30px; 
}
.middle-section__list_item {
	color: #777;
	line-height: 2em;
	margin: 0 0 10px 35px;
}
.middle-section__list_item:nth-child(even) {
	color: #3271A9;
}

/* Pricing section */
.pricing {
	font-family: 'Roboto', sans-serif; 
	text-transform: uppercase;
	color: #35495a;
}
.pricing__heading {
	padding: 65px;
	font-size: 1.8em;
	text-align: center;
	font-weight: 500;
}
.pricing__price-list {
	width: 890px;
	position: relative;
	top: 0;
	left: 13px;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	padding-bottom: 90px;
}
.pricing__price-list_active,
.pricing__price-list_left,
.pricing__price-list_right{
	position: relative;
	display: inline-block;
	width: 288px;
    text-align: center;
 	border-radius: 5px;
 	background-color: white;
}
.pricing__price-list_active{
	border: 4px solid #EE822A; 
	box-shadow: 0 0 10px 5px #CBE2EF;
	z-index: 2;
}
.pricing__price-list_left,
.pricing__price-list_right{
	border: 1px solid #cccccc;
	z-index: 1;
}
.pricing__price-list_left{
	left: 5px;
}
.pricing__price-list_right{
	right: 5px;
}
.pricing__price-list_active h3,
.pricing__price-list_left h3,
.pricing__price-list_right h3{
	font-size: 1.5em;
	font-weight: 400;
	margin: 20px 0 10px;
}
.pricing__price-list_header h2{
	font-weight: 700;
	color: white;
}
.pricing__price-list_active .pricing__price-list_header{
	padding: 16px 0;
	background-color: #EE822A;
}
.pricing__price-list_left .pricing__price-list_header,
.pricing__price-list_right .pricing__price-list_header{
	padding: 14px 0;
}
.pricing__price-list_left .pricing__price-list_header{
	background-color: #37c2d3;
}
.pricing__price-list_right .pricing__price-list_header{
	background-color: #1cb79a;
}
.pricing__price-list_price{
	color: #364A5B;
}
.pricing__price-list_numeral{ 
	font-size: 4em;
	font-weight: 700;
 }
.pricing__price-list_currency,
.pricing__price-list_time{
	position: relative;	
	font-weight: 500;
}
.pricing__price-list_currency{
	top: -40px;
	font-size: 1.2em;
}
.pricing__price-list_time{
	top: 8px;
	left: -1px;
	text-transform: none;
}
.pricing__price-list_list{
	width: 88%;
	text-align: left;
    list-style-type: none;
    text-transform: none;
    color: #898D95;
    font-size: 0.9em;
    margin: auto;
}
.pricing__price-list_list li{
	margin-bottom: 1px; 
	padding: 8px 30px;
}
.pricing__price-list_list li:nth-of-type(odd){
	background: #EDF5FD ;
}
.pricing__price-list_list li:nth-of-type(even){
	background: #F5F5F6;
}
.pricing__price-list_list li::before{
    content: url("../img/pricing__price-list_marker.png");
    padding-right: 15px;
}
.pricing__button{
	width: 86%;
	padding: 10px;
	font-size: 0.9em;
    font-weight: bold;
	color: white;
    border: none;
    border-radius: 5px;
    outline: 0;
}
.pricing__price-list_active .pricing__button{
	background: #EE822A;
	border-bottom: 3px solid #B3570D;
	margin: 10px auto 30px;
}
.pricing__price-list_left .pricing__button,
.pricing__price-list_right .pricing__button{
	background: #336699;
	border-bottom: 3px solid #003366;
	margin: 10px auto 20px;
}
.pricing__button:hover, .pricing__button:focus{
	border-color: transparent;
	box-shadow: 1px 1px 9px 0 #C2C2C2;
}
.pricing__price-list_active .pricing__button:hover, .pricing__price-list_active .pricing__button:focus{ 
	color: #B3570D;
}
.pricing__price-list_left .pricing__button:hover, .pricing__price-list_left .pricing__button:focus,
.pricing__price-list_right .pricing__button:hover, .pricing__price-list_right .pricing__button:focus{ 
	color: #003366;
}

/* Testimonials section */
.testimonials{
	background-image: url(../img/testimonials__background.png);
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.testimonials__header{
	padding: 45px 0 40px;
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: 300;
	color: #3271A9;
}
.testimonials__header h2 span{
	color: #EE822A;
}
.testimonials__box{
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	margin: 0 25px 80px 0;
}
.testimonials__box img{
	float: left;
	width: 100px;
	height: 100px;
}
.testimonials__box_say{
	float: left;
	width: 360px;
	min-height: 100px;
	background-color: #f8f8ff;
	overflow: hidden;
	margin-left: 25px;
}
.testimonials__box--arr{
	width: 0;
	height: 0;
	border: 15px solid;
	border-color:  transparent #f8f8ff transparent transparent ;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 96px;
	margin: auto;
}
.testimonials__box_header{
	font-style: italic;
	color: #3271A9;
	font-weight: 700;
	overflow: auto;
	margin: 0 10px;
	border-bottom: 2px dotted #ccc;
}
.testimonials__box_name{
	float: left;
	margin: 15px 0;
}
.testimonials__box_name::before{
	content: "- ";
}
.testimonials__box_customer{
   	float: right;
   	margin: 10px;
}
.testimonials__box_text{
	font-family: 'Roboto', sans-serif;
	color: #888;
	font-size: 14px;
	margin: 5px 12px;
}

/* Footer section */
.footer__section--left{
	float: left;
}
.footer__contacts{
	position: relative;
	margin: 40px 25px 25px 225px;
}
.footer__contacts li{ 
	list-style-type: none;
	line-height: 30px;
    color: #666666;
    font-size: 0.9em;
    font-weight: bold;
}
.footer__contacts li:nth-child(n+5){
	padding-top: 9px;
}
.footer__icon_pointer::before{
	content: url("../img/footer__icon_pointer.png");
    position: absolute;
    left: -55px;
    top: 2px;
}
.footer__icon_phone::before{
	content: url("../img/footer__icon_phone.png");
    position: absolute;
    left: -58px;
    bottom: 27px;
}
.footer__icon_mail::before{
	content: url("../img/footer__icon_mail.png");
    position: absolute;
    left: -60px;
    bottom: -2px;
}
.footer__section_social{
	display: inline-block;
	margin-left: 160px;
}
.footer__section_social a{
	margin-right: 20px;
}
.footer__section--right{
	float: right;
	height: 344px;
	width: 50%;
	border: none;
}
.footer__section--bottom{
	clear: both;
	background-color: #336699;
	color: white;
	font-size: 0.85em;
	letter-spacing: 0.7px;
	text-align: center;
	padding: 16px 0 17px;
}
.footer__section--bottom span{
	font-weight: bold;
}
.footer__section--bottom p:last-of-type span{
	color: #000;
}