@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
	margin: 0;
	padding: 0;
}

.testimonials{
	background-image: url(images/bg.png);
	font-family: 'Oxygen', sans-serif;
	text-align: center;
}
.testimonials__header{
	padding: 10px 0;
}
.testimonials__header_title {
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 300;
	color: #3271A9;
}
.testimonials__header_highlight {
	color: #EE822A;
}
.testimonials__box {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: top;
	margin: 0 50px 50px 0;
	
}
.testimonials__photo {
	float: left;
	width: 106px;
	height: 106px;
}
.testimonials__say {
	float: left;
	width: 360px;
	min-height: 106px;
	background-color: #f8f8ff;
	font-size: 0.9em;
	overflow: hidden;
	margin-left: 25px;
}
.testimonials__say_header {
	font-style: italic;
	color: #3271A9;
	font-weight: 700;
	overflow: auto;
	margin: 0 20px;
	border-bottom: 2px dotted #ccc;
}
.testimonials__say_name {
	float: left;
	margin: 10px 0;
}
.testimonials__say_name::before {
	content: "- ";
}
.testimonials__say_customer {
   	float: right;
   	margin: 10px;
}
.testimonials__say_text {
	font-family: 'Roboto', sans-serif;
	color: #888;
	margin: 10px 20px;
}
.testimonials__say_arr {
	width: 0;
	height: 0;
	border: 15px solid;
	border-color:  transparent #f8f8ff transparent transparent ;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 102px;
	margin: auto;
}
