/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, th, td, caption {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { 
	font-weight:normal;
}
img { 
	border: 0; 
}
/* End CSS Mini reset*/

body {
	max-width: 1480px;
	margin: 0 auto;
}

.container__content {
	max-width: 1230px;
	margin: 0 auto;
}

/* Section Header */
.header {
	background-image: url(../img/header_bg.png);
	background-position: top center;
	background-size: cover;
	height: 800px;
	position: relative;
	z-index: 1;
}
.header::after {
    content: "";
    background: #33ccff;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.header__menu_bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 125px 42px;
	background: rgba(100, 100, 100, 0.2) none repeat scroll 0 0;
	box-shadow: 0 0 2px rgba(180, 180, 180, 0.8);
	z-index: 4;
}
.header__logo {
	display: inline-block;	
	position: relative;
	top: 8px;
	left: 28px;
}
.header__logo_picture {
	position: relative;
	top: 5px;
	left: 48px;
}
.header__logo_name {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 2.11em;
	color: #33ccff;
}
.header__logo_name span {
	color: white;
}
.header__menu {
	float: right;
	position: relative;
	top: 22px;
	right: 14px;
}
.header__menu_item {
	display: inline-block;
	margin: 0 15px;
}
.header__menu_link {
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.84em;
	font-weight: 400;	
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.header__menu_item:hover .header__menu_link {
	color: #33ccff;
	padding-top: 37px;
	border-top: 3px solid #33ccff;
}
/* Slider */
.header__slider {
	font-family: 'Lato', sans-serif;
	color: white;
	position: relative;
	z-index: 1;
	padding-top: 100px;
}
.header__slider_content-box {
	max-width: 670px;
	position: absolute;
	top: 320px;
	right: 55px;
	z-index: 3;
}
.header__slider_text {
	position: relative;
	top: 18px;
	left: 22px;
}
.header__slider_text h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 3em;
}
.header__slider_text h1 span {
	font-weight: 700;
}
.header__slider_text p {
	letter-spacing: 0.45px;
	line-height: 1.4;
	margin-top: 18px;
}
.header__slider_button {
	position: relative;
	left: 10px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 6px;
	margin: 40px 20px;
}
.header__slider_button a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 20px 45px;
}
.slider__button-learn {
	background-color: #33ccff;
	border-color: #33ccff;
}
.header__slider_button:hover {
	text-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
	box-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
}
.header__slider_available_content {
	display: inline-block;
	position: relative;
	left: 25px;
	font-size: 1.2em;
}
.header__slider_available_button {
	display: inline-block;
	margin-left: 15px;
	position: relative;
	top: 10px;
	left: 25px;
}
.header__slider_available_button img {
	position: relative;
	top: -4px;
	left: -1px;
}
.header__slider_available_button a:hover {
	box-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
}
.header__slider_controls_prev a,
.header__slider_controls_next a,
.header__slider_available_button a {
	height: 20px;
	width: 20px;
	background-color: rgba(100,100,100,0.2);
	border-radius: 50%;
	display: inline-block;
	padding: 16px;
}
.header__slider_controls {
	position: relative;
	padding: 275px 0 0;
	height: 410px;
	z-index: 2;
}
.header__slider_controls_prev,
.header__slider_controls_next {
	display: inline-block;
	position: absolute;
}
.header__slider_controls_prev {
	left: -55px;
}
.header__slider_controls_next {
	right: -55px;
}
.header__slider_controls_prev a,
.header__slider_controls_next a {
	text-decoration: none;
	color: white;
	text-align: center;
}
.header__slider_controls_prev a:hover,
.header__slider_controls_next a:hover {
	background-color: #33ccff;
	font-weight: bold;
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 12px rgba(51, 51, 51, 0.6);
}
.header__slider_nav_bottom{
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align:center;
}
.header__slider_nav_bottom li {
	margin-left: 6px;
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
	display: inline-block;
}
.header__slider_nav_bottom li:hover {
	background-color: #33ccff;
	border-color: #33ccff;	
}

/* Section Features */
.features {
	background-color: rgba(239,239,239,0.3);
	padding: 45px 0 30px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.features::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.features__title {
	text-align: center;
	margin-bottom: 60px;
}
.features__title h3 {
	font-size: 2.3em;
	font-weight: bold;
	color: #333;
}
.features__title p {
	margin: 0;
	font-size: 1.25em;
	color: #ccc;
}
.features__content {
	text-align: center;
	margin-bottom: 40px;
	word-spacing: -4px;
}
.features__content-box {
	display: inline-block;
	width: 25%;
	word-spacing: normal;
	font-size: 0.9em;
	box-sizing: border-box;
	padding: 10px 5px;
	vertical-align: top;
}
.features__content_link {
	display: inline-block;
	text-decoration: none;
	padding: 1px;
}
.features__content_link:hover .features__content_img {
	background-color: rgba(0,0,0,0.7);
}
.features__content_link:hover .features__content-box_title {
	color: #33ccff;
}
.features__content_img {
	background-color: #33ccff;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin: 0 auto 30px; 
	vertical-align: middle;
	position: relative;	
	-webkit-transition: background-color .5s ease .5s;
    -moz-transition: background-color .5s ease .5s;
    -o-transition: background-color .5s ease .5s;
    transition: background-color .5s ease .5s;
}
.features__content_img img{
	position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.features__content-box_title{
	text-transform: uppercase;
	color: #333;
	font-weight: 700;
	margin-bottom: 20px;
	-webkit-transition: color .5s ease .5s;
    -moz-transition: color .5s ease .5s;
    -o-transition: color .5s ease .5s;
    transition: color .5s ease .5s;
}
.features__content-box_description {
	color: #999;
	font-weight: 400;
	padding: 0 25px;
	line-height: 1.5;
}

/* Section Gallery */
.gallery{
	padding: 25px 0 35px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.gallery::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.gallery__title {
	margin: 10px 0 50px;
	text-align: center;
}
.gallery__title h3 {
	font-size: 2.3em;
	font-weight: bold;
	color: #333;
}
.gallery__title p {
	margin: 0;
	font-size: 1.25em;
	color: #ccc;
	font-weight: normal;
}
.gallery__content {
	text-align: center;
	word-spacing: -5px;
}
.gallery__item {
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	word-spacing: normal;
	padding: 5px;	
}
.gallery__content_link {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 20px;
}
.gallery__item_image {
	position: relative;
}
.gallery__item_image_plus {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 80px auto;
	color: white;
}
.gallery__item_image h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	color: #33ccff;
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	border-radius: 0 0 6px 6px;
	padding: 13px 77px;
	position: absolute;
	bottom: 4px;
}
.gallery__item_text {
	margin: 0 0 65px;
	font-size: 0.9em;
	padding: 0 25px;
	line-height: 1.5;
}

/* Section Video */
.video {
	background-image: url(../img/video_bg.png);
	background-position: top center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	position: relative;
}
.video::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.video__button {
	position: absolute;
	top: 160px;
	left: 0;
	right: 0;
	margin: auto;
	width: 116px;
	height: 75px;
}
.video__button:hover {
	box-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
}
.video__button_link {
	display: inline-block;
}
.video__content {
	text-align: center;
	color: white;
	padding-top: 260px;
	padding-bottom: 120px;
}
.video__content h3 {
	font-weight: 300;
	font-size: 3em;
}
.video__content h3 span {
	font-weight: 700;
}
.video__content p {
	margin-top: 10px; 
	padding: 10px 275px;
	letter-spacing: 0.5px;
	text-align: left;
	line-height: 1.4;
}

/* Section Prices */
.prices{
	padding: 60px 0 25px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.prices::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.prices__title {
	text-align: center;
	margin-bottom: 45px;
}
.prices__title h3 {
	font-size: 2.3em;
	font-weight: bold;
	color: #333;
}
.prices__title p {
	margin: 0;
	font-size: 1.25em;
	color: #aaa;
}
.prices__content {
	text-align: center;
	margin-bottom: 35px;
}
.prices__item {
	display: inline-block;
	min-width: 300px;
	margin: 10px;
	background-color: rgba(239,239,239,0.3);
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
	color: #ccc;
}
.prices__item_title {
	margin: 25px 0;
}
.prices__item_title h4 {
	text-transform: uppercase;
	font-weight: 700;
}
.prices__item_cost {
	padding: 10px 0;
	display: block;
	font-family: 'Droid Sans', sans-serif;
	font-size: 5em;
	font-weight: 700;
	color: white;
	text-shadow: 1px 1px 1px black;
}
.prices__item_case {
	margin: 20px 0 25px;
	padding: 0;
	list-style-type: none;	
}
.prices__item_case li {
	font-size: 1.2em;
	line-height: 2;
}
.prices__item_button {
	margin-bottom: 25px;
	display: inline-block;
	border-radius: 5px;
}
.prices__item_button_link {
	display: inline-block;
	padding: 15px 45px;
	font-weight: 700;
	color: white;
	text-decoration: none;
}
.prices__item_button_link:hover {
	text-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
	box-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
}
.package__basic .prices__item_cost,
.package__basic .prices__item_button {
	background-color: #99cc66;
}
.package__prof .prices__item_cost,
.package__prof .prices__item_button {
	background-color: #33ccff;
}
.package__advanced .prices__item_cost,
.package__advanced .prices__item_button {
	background-color: #ff6600;
}
/*
.prices__item .package__active {
	width: 360px;
	color: #33ccff;
}
.package__active .prices__item_title h4 {
	font-size: 1.3em;
}*/

/* Section Testimonials */
.testimonials {
	background-color: rgba(239,239,239,0.3);
	padding-top: 35px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.testimonials::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.testimonials__title {
	text-align: center;
	margin-bottom: 30px;
}
.testimonials__title h3 {
	font-size: 2.3em;
	font-weight: bold;
	color: #333;
}
.testimonials__content {
	padding-bottom: 40px;
}
.testimonials__item {
	width: 43%;
	overflow: auto;
	margin: 0 auto;
	padding-bottom: 40px;
	color: #33ccff;
	font-size: 0.8em;
	letter-spacing: 0.5px;
	line-height: 1.45;
}
.testimonials__item_img {
	float: left;
}
.testimonials__item_comment {
	margin: 0;
	padding-top: 30px;
	padding-left: 185px;
}
.testimonials__item_author {
	margin: 0;
	padding-right: 15px;
	text-align: right;
}
.testimonials__item_author {
	font-style: italic;
}
.testimonials__item_slider_controls { 
	text-align: center;
	margin: 0;
	padding: 0;
}
.testimonials__item_slider_controls li{
	display: inline-block;
	background-color: rgba(51,204,255,.5);
	padding: 3px 25px;
	margin-right: 5px;
}

.testimonials__item_slider_controls li:hover{
	background: #33ccff;
}

/* Section Download */
.download {
	background-color: rgba(0,0,0,0.7);
	padding-top: 25px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.download::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.container__content {
	text-align: center;
}
.download__title {
	text-align: center;
	margin-bottom: 30px;
}
.download__title h3 {
	font-size: 3.1em;
	font-weight: bold;
	color: #fff;
}
.download__button {
	display: inline-block;
	background: #33ccff;
	border-radius: 6px;
	border: none;
	border-bottom: 3px solid #007db1;
	margin-bottom: 30px;
}
.download__button a {
	display: inline-block;
	padding: 20px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.95em;
	font-weight: bold;
	color: rgba(0,0,0,1);
}
.download__button:hover {
	border-bottom-color: transparent;
}
.download__button:hover a {
	text-shadow: 0 .5px .5px rgba(255,255,255,.5);
}

/* Section Contact */
.contact {
	background-image: url(../img/contact_map.png);
	background-position: top center;
	background-size: cover;
	height: 680px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.contact__form {
	width: 320px;
	height: 460px;
	background-color: rgba(51,204,255,.6);
	border-radius: 10px;
	box-shadow: 0 0 2px rgba(180, 180, 180, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.contact__form_title {
	margin: 20px;
	font-size: 2.2em;
	color: white;
	font-weight: bold;
	letter-spacing: 1.1px;
}
.contact__form input {
	margin-bottom: 10px;
	padding: 10px 50px;
	border-radius: 5px;
}
.contact__form input[placeholder] {
	text-align: center;
	color: #ccc;
}
.contact__form textarea {
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #ccc;
	box-shadow: 2px 2px 2px rgba(204, 204, 204, 1) inset; 
}

.contact__form input[type="submit"] {
	padding: 15px 75px;
	background-color: rgba(51,51,51,1);
	border: none;
	border-bottom: 3px solid #000;
	color: #33ccff;
	font-size: .9em;
}

.contact__form input[type="submit"]:hover {
	border-bottom-color: transparent;
}
.contact__form input[value="Send"]:hover {
	text-shadow: 0 .5px .5px rgba(255,255,255,.5);
}

/* Footer */
.footer {
	background-color: rgba(0,0,0,0.7);
	height: 110px;
	font-family: 'Lato', sans-serif;
}

.footer .container__content {
	overflow: auto;
	padding-top: 25px;
}
.footer__copyright {
	-margin: 0;
	float: left;
	color: #ccc;
}
.footer__copyright span {
	padding: 0 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.footer__menu {
	display: inline-block;
	float: right;
}

.footer__menu li {
	display: inline-block;
	padding-right: 5px;
	border-right: 1px solid #ccc;
	
}
.footer__menu li a {
	text-decoration: none;
	color: #ccc;
}
.footer__menu li a:hover {
	text-decoration: underline;
}

.footer__menu li:last-child {
	border: none;
}