/* CSS Mini Reset */
html, body, div, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, th, td, caption {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { 
	font-weight:normal;
}
img { 
	border: 0; 
}
/* End CSS Mini reset*/


body {
	max-width: 1480px;
	margin: 0 auto;
}

.container__content {
	width: 1230px;
}
/* Section Header */
.header {
	background-image: url(../img/header_bg.png);
	background-position: top center;
	background-size: cover;
	height: 800px;
	position: relative;
	z-index: 1;
}
.header::after {
    content: "";
    background: #33ccff;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.header__menu {
	position: relative;
	background: rgba(100, 100, 100, 0.3) none repeat scroll 0 0;
	box-shadow: 0 0 2px rgba(180, 180, 180, 0.8);
	padding: 20px 25px;
}
.header__logo {
	display: inline-block;	
	position: relative;
	bottom: 10px;
	left: 9%;
}
.header__logo_picture {
	position: relative;
	top: 4px;
	left: 46px;
}
.header__logo_name {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 2.11em;
	color: #33ccff;
}
.header__logo_name span {
	color: white;
}
.header__menu_bar {
	float: right;
	position: absolute;
	top: 22px;
	left: 39%;
}
.header__menu_item {
	display: inline-block;
	margin: 0 15px;
}
.header__menu_link {
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.84em;
	font-weight: 400;	
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.header__menu_item:hover .header__menu_link {
	color: #33ccff;
	padding-top: 36px;
	border-top: 3px solid #33ccff;
}
.header__slider {
	clear: both;
	margin: 70px;
	height: 560px;
	font-family: 'Lato', sans-serif;
	color: white;
	position: relative;
	z-index: 1;
}
.header__slider_content-box {
	max-width: 700px;
	position: absolute;
	top: 150px;
	right: 80px;
	z-index: 3;
}
.header__slider_content {
	position: relative;
	top: 18px;
	left: 22px;
}
.header__slider_content h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 3em;
}
.header__slider_content h1 span {
	font-weight: 700;
}
.header__slider_content p {
	letter-spacing: 0.5px;
	line-height: 1.4;
	margin-top: 16px;
}
.header__slider_button {
	position: relative;
	left: 10px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 6px;
	margin: 40px 20px;
}
.header__slider_button a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 20px 45px;
}
.slider__button-learn {
	background-color: #33ccff;
	border-color: #33ccff;
}
.header__slider_button:hover {
	text-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
	box-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
}
.header__slider_available_content {
	display: inline-block;
	position: relative;
	left: 25px;
	font-size: 1.2em;
}
.header__slider_available_button {
	display: inline-block;
	margin-left: 15px;
	position: relative;
	top: 10px;
	left: 25px;
}
.header__slider_available_button img {
	position: relative;
	top: -4px;
	left: -1px;
}
.header__slider_available_button a:hover {
	box-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
}
.header__slider_controls_prev a,
.header__slider_controls_next a,
.header__slider_available_button a {
	height: 20px;
	width: 20px;
	background-color: rgba(51, 51, 51, 0.4);
	border-radius: 50%;
	display: inline-block;
	padding: 16px;
}
.header__slider_controls {
	position: relative;
	padding: 205px 0 0;
	height: 410px;
	z-index: 2;
}
.header__slider_controls_prev,
.header__slider_controls_next {
	display: inline-block;
	position: absolute;
}
.header__slider_controls_next {
	right: 2px;
}
.header__slider_controls_prev a,
.header__slider_controls_next a {
	text-decoration: none;
	color: white;
	text-align: center;
}
.header__slider_controls_prev a:hover,
.header__slider_controls_next a:hover {
	background-color: #33ccff;
	font-weight: bold;
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
	box-shadow: 0 0 12px rgba(51, 51, 51, 0.6);
}
.header__slider_nav_bottom{
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align:center;
}
.header__slider_nav_bottom li {
	margin-left: 6px;
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
	display: inline-block;
}
.header__slider_nav_bottom li:hover {
	background-color: #33ccff;
	border-color: #33ccff;	
}

/* Section Features */
.features{
	background-color: rgba(239,239,239,0.3);
	padding: 45px 0 25px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.features::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.features__title {
	text-align: center;
	margin-bottom: 45px;
}
.features__title h3 {
	font-size: 2.3em;
	font-weight: bold;
	color: #333;
}
.features__title p {
	margin: 0;
	font-size: 1.25em;
	color: #ccc;
}
.features__content {
	font-size: 0.9em;
	text-align: center;
	margin-bottom: 40px;
}
.features__content-box {
	display: inline-block;
	width: 20%;
	margin: 10px 2px;
	padding: 5px;
	vertical-align: top;
}
.features__content_link {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
}
.features__content_link:hover .features__content_img {
	background-color: rgba(0,0,0,0.7);
}
.features__content_link:hover .features__content-box_title {
	color: #33ccff;
	font-weight: 700;
}
.features__content_img {
	background-color: #33ccff;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin: 0 auto 30px; 
	vertical-align: middle;
	position: relative;	
}
.features__content_img img{
	position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.features__content-box_title{
	text-transform: uppercase;
	color: #333;
	font-weight: 700;
}
.features__content-box_description {
	color: #999;
	font-weight: 400;
	padding: 0 17px;
	line-height: 1.5;
}

/* Section Gallery */
.gallery{
	padding: 25px 0 25px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.gallery::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.gallery__title {
	text-align: center;
	margin-bottom: 40px;
}
.gallery__title h3 {
	font-size: 2.3em;
	font-weight: bold;
	color: #333;
	-margin: 0;
}
.gallery__title p {
	margin: 0;
	font-size: 1.1em;
	color: #ccc;
}

.gallery__content {
	text-align: center;
	width: 100%;
	margin: auto;
}

.gallery__item {
	display: inline-block;
	width: 20%;
	margin: 10px auto;
}
.gallery__content_link {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
}
.gallery__item_image {
	position: relative;
	margin-bottom: 5px;
}
.gallery__item_image_plus {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 80px auto;
}
.gallery__item_image h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	color: #33ccff;
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	border-radius: 0 0 6px 6px;
	padding: 15px 77px;
	position: absolute;
	bottom: 3px;

}
.gallery__item_text {
	margin: 0 0 65px;
	font-size: 0.9em;
	padding: 0 25px;
	line-height: 1.5;
}

/* Section Video */
.video {
	background-image: url(../img/video_bg.png);
	background-position: top center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	position: relative;
}
.video::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.video__button {
	position: absolute;
	top: 160px;
	left: 0;
	right: 0;
	margin: auto;
	width: 116px;
	height: 75px;
}
.video__button:hover {
	text-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
	box-shadow: 0 0 12px rgba(180, 180, 180, 0.9);
}
.video__button_link {
	display: inline-block;
}

.video__content {
	text-align: center;
	color: white;
	padding-top: 260px;
	padding-bottom: 120px;
}

.video__content h3 {
	font-weight: 300;
	font-size: 3em;
}
.video__content h3 span {
	font-weight: 700;
}

.video__content p {
	margin-top: 10px; 
	padding: 10px 405px;
	letter-spacing: 0.5px;
	text-align: left;
	line-height: 1.4;
}
/* Section Prices */

.prices{
	background-color: rgba(239,239,239,0.3);
	padding: 60px 0 25px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.prices::after {
    content: "";
    background: rgba(204,204,204,0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.prices__title {
	text-align: center;
	margin-bottom: 40px;
}
.prices__title h3 {
	font-size: 2.3em;
	font-weight: bold;
	color: #333;
}
.prices__title p {
	margin: 0;
	font-size: 1.25em;
	color: #aaa;
}

.prices__content {
	text-align: center;
}
.prices__item {
	border: 1px solid #ccc;
	margin: 15px;
	text-align: center;
	display: inline-block;
	width: 300px;
	color: #ccc;
}
.prices__item input {
	padding: 14px 40px;
	font-size: 1em;
	color: white;
	border: none;
	margin-bottom: 20px;
	border-radius: 6px;
	background: #ccc;
}
.prices__item_title {
	text-transform: uppercase;
	margin: 25px 0;
}
.prices__item_title h4 {
	font-weight: 700;
}
.prices__item_cost {
	margin: 0 0 20px;
	padding: 10px 0;
	display: block;
	background: #ccc;
	font-family: 'Droid Sans', sans-serif;
	font-size: 5em;
	font-weight: 700;
	color: white;
}
.prices__item_case {
	list-style-type: none;
	padding: 0;
	font-size: 1.2em;
	line-height: 2;
	margin-bottom: 25px;
}

.package__basic .prices__item_cost,
.package__basic input {
	background-color: #99cc66;
}
.package__prof .prices__item_cost,
.package__prof input{
	background-color: #33ccff;
}
.package__advanced .prices__item_cost,
.package__advanced input{
	background-color: #ff6600;
}
.prices__item.package__active {
	width: 360px;
	color: #33ccff;
}
.package__active .prices__item_title h4 {
	font-size: 1.3em;
}