ul li a {
	font-size: 35px;
}

a[href$=".ru"]{
	color: #f70;
}
a[href*="google"]{
	color: #666;
}
a[target="_blank"]:after{
	content: " \21F1";
	text-decoration: none;
	position: absolute;
	padding-right: 20px;
	margin-top: 15px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}