.container {
	margin: 60px auto 15px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #e9e9e9;
}
/* contact */
.contact__header {
	padding: 17px 20px 0;
}
.contact__header_title {
	font-family: 'Oxygen', sans-serif;
	text-transform: uppercase;
	color: #666666;
	font-size: 1.2em;
	font-weight: 300;
	border-top: 2px solid rgba(204,204,255,.5);
	border-bottom: 2px solid rgba(204,204,255,.5);
	padding: 12px 0 15px;

}
.contact__box-form {
	display: inline-block;
	width: 61%;
	border-right: 1px solid rgba(204,204,255,.5);
	padding: 15px 20px;
}
.contact__box-form_title {
	position: relative;
	font-family: 'Oxygen', sans-serif;
	color: #666666;
	font-size: 1em;
	font-weight: 700;
	border-bottom: 1px solid rgba(204,204,255,.5);
	padding: 0 0 16px 0;
}
.contact__box-form_title::before {
    content: "";    
 	position: absolute;
    bottom: -16px;
    left: 45px;
    border: 10px solid transparent;  
    border-top: 6px solid rgba(204,204,255,.5);
}
.contact__box-form_title::after {
	content: "";
    position: absolute;
   	bottom: -15px;    
    left: 45px; 
    border: 10px solid transparent;  
    border-top: 6px solid #fff;
 } 
.contact__form {
	margin: 22px 0;
	font-family: 'Oxygen', sans-serif;
	color: #666666;
	position: relative;
}
.contact__form_description {
	display: inline-block;
	width: 110px;
	margin-top: 5px;
	-padding-left: 5px;
	vertical-align: top;
	font-size: .8em;
}
.contact__form_input {
	width: 145px;
	padding: 4px;
	margin-bottom: 16px;
	border-radius: 2px;
	box-shadow: inset 0 0 .5px;
}
.contact__form_message {
	-margin-left: -3px;
	width: 475px;
	height: 175px;
	padding: 4px;
	box-sizing: border-box;	
	border: 1px solid #cccccc;
	box-shadow: inset 0 0 .5px;
}
.form__input_name {
	border: 1px solid #cccc99;
}
.form__input_email {
	border: 1px solid #ff9999;
}
.form__input_url {
	border: 1px solid #cccccc;
}
.form__input_name_icon {
	position: relative;
	top: 2px;
	left: 5px;
}
.form__input_email_hover {
	position: relative;
	left: 8px;
	display: inline-block;
	padding: 5px 10px;
	color: #993333;
	background-color: rgba(255,153,153,1);
	font-size: .66em;
	border-radius: 3px;
}
.form__input_email_hover::before {
    content: "";    
 	position: absolute;
    top: 7px;
    left: -9px;
    border: 5px solid transparent;  
    border-right: 6px solid rgba(255,153,153,1);
}
.contact__form_message::-webkit-input-placeholder {
	padding: 5px;
	font-family: Arial, sans-serif;
	font-size: .88em;
	line-height: 1.5;
	color: rgba(153,153,153,.8);
}
.contact__form_input_submit {
	margin: 10px 0 40px 115px;
	background-color: #ffc34e;
	border: 1px solid #efba4f;
	border-radius: 3px;
	padding: 5px 15px;
	color: white;
	font-size: .95em;
	text-shadow: 1px 0 1px rgba(204,153,51,.7);
	box-shadow: 0 0 1px rgba(0,0,0,.25)
}
.contact__form_input_submit:hover,
.contact__form_input_submit:focus {
	box-shadow: 0px 0px 1px #666666;
	outline: none;
	cursor: pointer;
}
.contact__info {
	display: inline-block;
	margin: 20px 10px;
	padding: 5px 10px;
	width: 305px;
	vertical-align: top;
	border: 1px solid rgba(204,204,255,.5);
	font-family: Arial, sans-serif;
	color: #666666;
	box-sizing: border-box;
}
.contact__info_title {
	font-size: .75em;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 3px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(204,204,255,.5);
}
.contact__info_description {
	padding: 0 5px;
	margin-bottom: 10px;
	font-size: .72em;
	text-align: justify;
	line-height: 1.8;
}
/* end contact*/
.style__hr {
	width: 930px;
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid rgba(204,204,255,.5);
}
/* footer */
.container-footer {
	max-width: 972px;
	margin: 15px auto 100px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #e9e9e9;
}
.footer {
	border-top: none;
	margin-top: 15px;
}

/* end footer */

