@import url('https://fonts.googleapis.com/css?family=Economica:400,700');

div.main-menu{
	width: 900px;
	margin: auto;
	background-color: #A64DFF;
}
.top-nav{
	margin-left: 40px;
	padding: 5px;
}
.top-nav li{
	display: inline-block;
}
.top-nav li a{
	font-family: 'Economica', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
}
.top-nav li a.active,
.top-nav li a:hover {
	padding: 6px 15px;
	color: #999;
	background-color: #F5F5F5;
	box-shadow: 0 0 9px 0 #C2C2C2;
}
